.choose__car__list {
  display: flex;
  flex-wrap: wrap;

  max-width: 1410px;
  margin: 0 auto;

  gap: 30px;
}

.choose__car__wrapper {
  width: 328px;
  margin: 0 auto;
}

.choose__car__img {
  height: 147px;
  width: 276px;
  margin: 0 auto;

  background: silver;
}

.choose__car__name {
  margin: 10px 0 20px 0;

  text-align: start;
  font-size: 20px;
}

.choose__car__row__button {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.choose__car__row__button button {
  width: 156px;
  height: 35px;

  margin-bottom: 20px;

  font-size: 12px;
  color: #fff;
}

.choose__car__button__quotation {
  background: #1c69d4;

  transition: 0.3s;
}

.choose__car__button__quotation:hover {
  cursor: pointer;

  background: #0966af;
}

.choose__car__button__call {
  background: #666666;

  transition: 0.3s;
}

.choose__car__button__call:hover {
  cursor: pointer;

  background: #707070;
}

.choose__car__share {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 148px;
  height: 24px;

  font: #666666;
  font-size: 12px;
}
